@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;

  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1280px;
  --container-2xl: 1440px;

  --animate-infinite-scroll: infinite-scroll 40s linear infinite;

  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

:root {
  --ui-primary: #6e4e37;
  --ui-secondary: #a77a5d;
  --ui-info: #edb173;
  --ui-neutral: #ffd8ad;
  --ui-bg-base: #fffbf8;
  --ui-text: #000;
  --ui-success: #fed8b3;
  --ui-text-dimmed: #6e6e6e;
  --ui-text-muted: #757f95;
  --ui-text-toned: #f05454;
  --ui-bg-toned: #f05454;
  --ui-bg-accented: #fff4e8;
}

.dark {
  --ui-primary: #6e4e37;
}
